In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [5]:
df=pd.read_csv(r'C:\Users\b84266591\Desktop\Tech\MJ TINGs\cardio_train.csv', sep=';')
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

<h3> Update Feature Engineering </h3>

In [6]:
df['height']=df['height']*0.01
df['bmi'] = (df['weight'] / (df['height'] ** 2)).astype('int')
df['age'] = (df['age'] / 365).round().astype('int')

# Define BMI categories
def categorize_bmi(bmi):
    if bmi < 18.5:
        return 'Underweight'
    elif 18.5 <= bmi < 25:
        return 'Normal'
    elif 25 <= bmi < 30:
        return 'Overweight'
    else:
        return 'Obese'

# Apply the function to create a new feature
df['bmi_category'] = df['bmi'].apply(categorize_bmi)

# Define age groups
def categorize_age(age):
    if age < 40:
        return 'Young'
    elif 40 <= age < 60:
        return 'Middle-aged'
    else:
        return 'Senior'

# Apply the function to create a new feature
df['age_group'] = df['age'].apply(categorize_age)

# Define blood pressure categories
def categorize_bp(ap_hi, ap_lo):
    if ap_hi < 120 and ap_lo < 80:
        return 'Normal'
    elif ap_hi >= 140 or ap_lo >= 90:
        return 'Hypertension'
    else:
        return 'High-Normal'

# Apply the function to create a new feature
df['bp_category'] = df.apply(lambda row: categorize_bp(row['ap_hi'], row['ap_lo']), axis=1)

In [7]:
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,bmi,bmi_category,age_group,bp_category
0,0,50,2,1.68,62.0,110,80,1,1,0,0,1,0,21,Normal,Middle-aged,High-Normal
1,1,55,1,1.56,85.0,140,90,3,1,0,0,1,1,34,Obese,Middle-aged,Hypertension
2,2,52,1,1.65,64.0,130,70,3,1,0,0,0,1,23,Normal,Middle-aged,High-Normal
3,3,48,2,1.69,82.0,150,100,1,1,0,0,1,1,28,Overweight,Middle-aged,Hypertension
4,4,48,1,1.56,56.0,100,60,1,1,0,0,0,0,23,Normal,Middle-aged,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,53,2,1.68,76.0,120,80,1,1,1,0,1,0,26,Overweight,Middle-aged,High-Normal
69996,99995,62,1,1.58,126.0,140,90,2,2,0,0,1,1,50,Obese,Senior,Hypertension
69997,99996,52,2,1.83,105.0,180,90,3,1,0,1,0,1,31,Obese,Middle-aged,Hypertension
69998,99998,61,1,1.63,72.0,135,80,1,2,0,0,0,1,27,Overweight,Senior,High-Normal
69999,99999,56,1,1.70,72.0,120,80,2,1,0,0,1,0,24,Normal,Middle-aged,High-Normal